body {
  margin: 0;
  font-family: "Quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

.header{
  display: flex;
  align-items: center;
  height: 5px;
  justify-content: space-between;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  
}

.header li:hover{
  color: orange;
  cursor: pointer;
}

.first-li{
  color: orange;
  margin-left: 30px;
  margin-right: auto;
 
}

.last-li{
  margin-right: 27.5rem;
}

li{
  padding: 0 1rem;
}

/* Navbar */

.navbar{
  background-color: #fff;
  height: 2.7rem;
  font-size: 1.2rem;
  display: flex;
  flex: 0 0 100%;
  list-style: none;
  align-items: center;
  padding: 1rem;
  
}

.navlogo{
  font-size: 2.5rem;
  margin-left: 4.5rem;
  margin-right: auto;
}
.navbar li:hover{
  color: orange;
  cursor: pointer;
}
.navlastchild{
  margin-right: 3.5rem;
}

.navSearch{
  flex: 0 0 50%;
  margin-right: 5rem;
  
}

.navText{
  height: 2.5rem;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  font-size: 1rem;
  
}

.navText:focus{
  outline: none;
}

.navSearchButton{
  height: 2.5rem;
  background-color: orange;
  color: #fff;
  font-size: 0.8rem;
  padding: 13px ;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* Main Content */

.content{
  margin: 15px;
  display: flex;
  justify-content: center;
  height: 70vh;
  
}

.side-nav{
 flex: 0 0 16%;
 background-color: #fff;
  margin: 8px;
  height: 100%;
  border-radius: 5px;
}

.side-nav li{
  list-style: none;
  padding: 8px;
}

.side-nav li:hover{
  list-style: none;
  padding: 8px;
  color: orange;
  cursor: pointer;
}

.main{
flex: 0 0 52%;
height: 100%;
margin: 8px;

}

.side-pic{
  display: flex;
  flex-direction: column;
  width: 16%;
  height: 100%;
  margin: 8px;
  border-radius: 5px;
}

.pic2{
  height: 50%;
  border-radius: 5px;
  
}
.pic3{
  height: 50%;
  border-radius: 5px;
  margin-bottom: 8px;
}

.mainpic{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  
}

/* Products */

.products{
  background-color: #fff;
  height: auto;
  width: 84%;
  margin: 0 auto;
  border-radius: 5px;
}

.productList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.singleProduct{
  height: 17rem;
  width: 10rem;
  margin: 1px 0.5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}

.singleProduct:hover{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);;
}

.productpic{
  height: 50%;
  width: 90%;
}

.addToCartBtn{
  height: 1.5rem;
  background-color: orange;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px ;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* CartItems */

.cart-container{
  background-color: #fff;
  height: 30rem;
  width: 84%;
  margin: 0 auto;
  border-radius: 5px;
}

/* CartItem */

.singleItemContainer{
  background-color: #fff;
  width: 100%;
  height: 3.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid #dcdcdc;
}

.cart-btn{
  height: 2rem;
  width: 2rem;
  border-radius: 7px;
  background-color: orange;
  border: none;
  color: #fff;
  
}

.remove-btn{
  height: 2rem;
  width: auto;
  border-radius: 7px;
  background-color: orange;
  border: none;
  color: #fff;
  cursor: pointer;
}
